.App {
  text-align: center;
}

body {
  background-image: url("./pics/dark_dotted.png");
}

.gallery {
  margin-top: 50px;
}

.btn {
  display:block;
  background-size: contain;
  width: 100px;
  height: 120px;
  background-repeat: no-repeat;
}

.btn-left {
  background-image: url("./pics/Arrow_Left_1x.png");
  position: absolute;
  top: 153px;
  left: 364px;
}

.btn-right {
  position: absolute;
  top: 153px;
  right: 334px;
  background-image: url("./pics/Arrow_Right_1x.png");
}

.frame {
  border: solid 20px white;
  max-height: 40%;
  max-width: 40%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
